.container {
    margin: 0 auto;
    width: 400px;
    padding: 10px;

    h2 {
        text-align: center;
    }

    .btn-block {
        display: flex;
        width: 210px;
        margin: 0 auto;
        justify-content: space-between;

        button {
            width: 100px;
            height: 40px;
            font-size: 16px;
        }
    }
}
