<div class="main-body">
  <h1>User List</h1>
  <div class="add-user" [ngStyle]="{'justify-content': users.length === 0 ? 'space-between' : 'flex-end'}">
    <ng-container *ngIf="users.length === 0">
      <p>User list is empty, you can add user.</p>
    </ng-container>
    <button mat-flat-button class="add-btn" [routerLink]="'add'" color="primary">Add User</button>
  </div>
  <ng-container *ngIf="users.length > 0">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="John" #input>
    </mat-form-field>

    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">

        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>№</th>
          <td mat-cell *matCellDef="let row;">{{ row.id }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
          <td mat-cell *matCellDef="let row">{{row.name}}</td>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
          <td mat-cell *matCellDef="let row">{{row.lastName}}</td>
        </ng-container>

        <ng-container matColumnDef="dateOfBirth">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Of Birth</th>
          <td mat-cell *matCellDef="let row">{{row.dateOfBirth | date}}</td>
        </ng-container>

        <ng-container matColumnDef="education">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Education</th>
          <td mat-cell *matCellDef="let row">{{row.education}}</td>
        </ng-container>

        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
          <td mat-cell *matCellDef="let row">{{row.role}}</td>
        </ng-container>

        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Position</th>
          <td mat-cell *matCellDef="let row"> {{row.position}}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" (click)="updateItem(row)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="openDialog(row)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <ng-container *ngIf="users.length > 0">
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell no-data-text" colspan="12">No data matching the filter "{{input.value}}"</td>
          </tr>
        </ng-container>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>
    </div>
  </ng-container>
</div>
