.container {
    display: flex;
    align-items: center;
    width: 400px;
    height: 100vh;
    margin: 0 auto;
}

.title {
    text-align: center;
}

.block-title {
    font-weight: 500;
}

.block-input {
    width: 400px;
}

.btn-block {
    display: flex;
    justify-content: flex-end;
}

:host {
  ::ng-deep {
    .mdc-button.mat-mdc-button-base {
      width: 140px;
      font-size: large;
      height: 48px;
    }
  }
}


