.graph-container {
    position: absolute;
    padding-top: 100px;
    width: 100%;
    overflow-x: hidden;

    ngx-charts-bar-vertical {
        position: relative;
    }

    .chart {
        position: relative;
        left: 25%;
    }
}
