<div class="graph-container">
  <div *ngIf="userRole === 'User'" class="chart" id="chart"></div>
  <div *ngIf="userRole === 'Admin'" class="chart">
    <ngx-charts-bar-vertical
      [view]="view"
      [results]="data"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel">
    </ngx-charts-bar-vertical>
  </div>
</div>
