.main-body {
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;

    .add-btn {
        width: 120px;
        height: 40px;
        font-size: 16px;
        float: right;
        margin-bottom: 10px;
    }

    mat-form-field {
        width: 100%;
    }

    .action {
        display: flex;
        gap: 5px;
    }

    ::ng-deep{
        .mat-sort-header-container {
            justify-content: center;
        }

        .mat-mdc-cell, .mat-column-action {
            text-align: center;
        }
    }
}
